{% extends 'base.html.twig' %}
{% block title %}Booking | Starlight Cinema{% endblock %}
{% block body %}
    <div class="site-content">
    {{ message }}
    </div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset('js/booking.js') }}"></script>
{% endblock %}