<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div style="margin: auto; width: 50%; text-align:center;">
    <h3 style="text-align: center;">Hi, {{ message.user.username }}</h3>
    <p>You contacted the administrator on {{ message.date }}. Here's your message:</p>
    <p>{{ message.text }}</p>
    <p>Thank you for your message. We appreciate you contacting us about your question.</p>
    <p>{{ message.answer }}</p>
    </div>
</body>
</html>

